---
import DefaultLayout from '../layouts/DefaultLayout.astro';

const recipes = [
  {
    title: 'Spaghetti Bolognese',
    foodImage: '/co2k/images/spaghetti.jpg',
    authorName: 'Sky Pulling',
    authorImage: '/co2k/images/student-a.jpg',
    note: 'This is my family’s favorite recipe!',
    scienceFact: 'The Maillard reaction occurs when browning the meat, which enhances flavor.',
    url: '/co2k/recipes/spaghetti-bolognese'
  },
  {
    title: 'Chocolate Cake',
    foodImage: '/co2k/images/chocolate-cake.jpg',
    authorName: 'John Doe',
    authorImage: '/co2k/images/student-b.jpg',
    note: 'This is my favorite dessert recipe!',
    scienceFact: 'Baking powder releases carbon dioxide to make cakes rise.',
    url: '/co2k/recipes/chocolate-cake'
  },{
    title: 'Spaghetti Bolognese',
    foodImage: '/co2k/images/spaghetti.jpg',
    authorName: 'Sky Pulling',
    authorImage: '/images/student-a.jpg',
    note: 'This is my family’s favorite recipe!',
    scienceFact: 'The Maillard reaction occurs when browning the meat, which enhances flavor.',
    url: '/co2k/recipes/spaghetti-bolognese'
  },
  {
    title: 'Chocolate Cake',
    foodImage: '/co2k/images/chocolate-cake.jpg',
    authorName: 'John Doe',
    authorImage: '/images/student-b.jpg',
    note: 'This is my favorite dessert recipe!',
    scienceFact: 'Baking powder releases carbon dioxide to make cakes rise.',
    url: '/co2k/recipes/chocolate-cake'
  },
  {
    title: 'Chocolate Cake',
    foodImage: '/co2k/images/chocolate-cake.jpg',
    authorName: 'John Doe',
    authorImage: '/images/student-b.jpg',
    note: 'This is my favorite dessert recipe!',
    scienceFact: 'Baking powder releases carbon dioxide to make cakes rise.',
    url: '/co2k/recipes/chocolate-cake'
  },
  {
    title: 'Chocolate Cake',
    foodImage: '/co2k/images/chocolate-cake.jpg',
    authorName: 'John Doe',
    authorImage: '/images/student-b.jpg',
    note: 'This is my favorite dessert recipe!',
    scienceFact: 'Baking powder releases carbon dioxide to make cakes rise.',
    url: '/co2k/recipes/chocolate-cake'
  },
  {
    title: 'Chocolate Cake',
    foodImage: '/co2k/images/chocolate-cake.jpg',
    authorName: 'John Doe',
    authorImage: '/images/student-b.jpg',
    note: 'This is my favorite dessert recipe!',
    scienceFact: 'Baking powder releases carbon dioxide to make cakes rise.',
    url: '/co2k/recipes/chocolate-cake'
  },
  {
    title: 'Chocolate Cake',
    foodImage: '/co2k/images/chocolate-cake.jpg',
    authorName: 'John Doe',
    authorImage: '/images/student-b.jpg',
    note: 'This is my favorite dessert recipe!',
    scienceFact: 'Baking powder releases carbon dioxide to make cakes rise.',
    url: '/co2k/recipes/chocolate-cake'
  },
  {
    title: 'Chocolate Cake',
    foodImage: '/images/chocolate-cake.jpg',
    authorName: 'John Doe',
    authorImage: '/images/student-b.jpg',
    note: 'This is my favorite dessert recipe!',
    scienceFact: 'Baking powder releases carbon dioxide to make cakes rise.',
    url: '/co2k/recipes/chocolate-cake'
  }
];
---
<DefaultLayout title="The CO2K Book">
  <div class="card-container">
    {recipes.map(recipe => (
      <a href={recipe.url} class="card">
        <div class="card-inner">
          <div class="card-front">
            <img src={recipe.foodImage} alt={recipe.title} class="recipe-image" />
            <h2>{recipe.title}</h2>
          </div>
          <div class="card-back">
            <img src={recipe.authorImage} alt={`Photo of ${recipe.authorName}`} class="author-image" />
            <p><strong>{recipe.authorName}</strong></p>
            <p>{recipe.note}</p>
          </div>
        </div>
      </a>
    ))}
  </div>
</DefaultLayout>
